<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>familiar_nuevo:</h1>
        <h2>nombre: {{familiar_nuevo.nombre}}</h2>
            <h3>edad: {{familiar_nuevo.edad}}</h3>
            <h3>fecha_nac: {{familiar_nuevo.fecha_nac}}</h3>
     <h1>familiar_nuevo2:</h1>
        <h2>nombre: {{familiar_nuevo2.nombre}}</h2>
            <h3>edad: {{familiar_nuevo2.edad}}</h3>
            <h3>fecha_nac: {{familiar_nuevo2.fecha_nac}}</h3>
    <h1>familiar_nuevo3:</h1>
        <h2>nombre: {{familiar_nuevo3.nombre}}</h2>
            <h3>edad: {{familiar_nuevo3.edad}}</h3>
            <h3>fecha_nac: {{familiar_nuevo3.fecha_nac}}</h3>
</body>
</html>